@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'auth';
@import 'info';
@import 'new';
@import 'responsive';
@import 'user';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

$tw-blue: #1a8cd8;

.feed {
  font-family: 'poppins';
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;

  @include sm {
    grid-template-columns: 1fr 5fr;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include sm {
    align-items: center !important;
  }

  @media (min-width: 1000px) {
    align-items: end;
    margin-right: 50px;
  }

  img {
    width: 80px;
    @include laptop() {
      width: 40px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    @include sm {
      align-items: center !important;
    }

    @include md() {
      align-items: end;
      padding: 10px 5px !important;
    }

    li {
      display: flex;
      font-size: 19px;
      padding: 20px 10px;
      border-radius: 12px;
      gap: 10px;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.4s;

      @include sm {
        padding: 10px 5px;
      }

      &:hover {
        background: rgba(128, 128, 128, 0.473);
      }

      &:last-of-type {
        background: #1a8cd8;
        padding: 10px 10px;

        @include sm {
          padding: 10px 5px;
        }
      }
    }

    a {
      color: white;
    }

    i {
      @include md() {
        font-size: 23px;
      }
    }
    span {
      white-space: nowrap;
      @include md() {
        display: none;
      }
    }
  }

  .user-info {
    display: flex;
    gap: 10px;
    padding: 0px 10px 5px;

    @include md() {
      flex-direction: column;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;

      @include md {
        width: 50px;
        height: 50px;
      }
    }

    button {
      background-color: white;
      color: black;
      display: flex;
      gap: 5px;
      white-space: nowrap;
      border-radius: 6px;
      font-size: 16px;
      margin-top: 5px;
      @include md {
        font-size: 18px;
        padding: 6px 16px;
      }
    }

    span,
    p {
      white-space: nowrap;
      @include md {
        display: none;
      }
    }
  }
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  border: 1px solid rgb(66, 66, 66);
  &::-webkit-scrollbar {
    background: black;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  header {
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 1px solid rgb(66, 66, 66);
    cursor: pointer;
  }
  #post-tweet {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(66, 66, 66);
    padding: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .input-area {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        width: 100%;
        background-color: black;
        border: none;
        outline: none;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        &:focus {
          box-shadow: 0 0 10px gray;
        }
      }
      .buttons {
        display: flex;
        justify-content: end;
        button {
          border-radius: 60px;
          background-color: #1a8cd8;
          color: white;
          &:hover {
            background-color: #115c8e;
          }
        }
      }
    }
  }
}

.tweet {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(58, 58, 58);

  &:hover {
    background: rgb(41, 41, 41);
  }
  #user-img {
    height: 50px;
    border-radius: 50%;
    @include sm {
      display: none;
    }
  }

  #mobile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none;
    @include sm {
      display: block;
    }
  }

  .body {
    width: 100%;
    margin-top: 10px;
    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
      }
      b,
      p + p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      p {
        cursor: pointer;
        color: gray;
        margin-bottom: 0;
        @include sm {
          font-size: 14px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    text-decoration: none !important;
    color: white;
    img {
      max-height: 300px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    video {
      width: 100%;
      border-radius: 10px;
      max-height: 500px;
    }

    .text-content {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 20;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      background: none;
      color: rgb(185, 185, 185);
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 5px;

      @include sm {
        font-size: 14px;
      }
      &:hover {
        background: rgb(59, 59, 59);
      }
    }
  }
}

.news {
  @include laptop() {
    display: none;
  }
}

// açık modda devreye giricek stiller
.light {
  background: white;
  color: black;

  b,
  .text-content,
  nav ul li,
  nav ul a,
  .content p,
  .user_info span,
  .user-page #nav span:nth-child(1) {
    color: black !important;
  }

  .tweet:hover {
    background: rgba(128, 128, 128, 0.136);
  }

  .news ul,
  .news form {
    background: rgb(214, 214, 214);
  }

  #comment-form input {
    background: none;
  }

  .user-page .cat-wrapper label:has(input:checked) {
    color: black;
  }
}

/* switch settings 👇 */

.ui-switch {
  margin-top: 40px;
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=');
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
