@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'auth';
@import 'info';
@import 'new';
@import 'responsive';
@import 'user';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

$tw-blue: #1a8cd8;

.feed {
  font-family: 'poppins';
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;

  @include sm {
    grid-template-columns: 1fr 5fr;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include sm {
    align-items: center !important;
  }

  @media (min-width: 1000px) {
    align-items: end;
    margin-right: 50px;
  }

  img {
    width: 80px;
    @include laptop() {
      width: 40px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    @include sm {
      align-items: center !important;
    }

    @include md() {
      align-items: end;
      padding: 10px 5px !important;
    }

    li {
      display: flex;
      font-size: 19px;
      padding: 20px 10px;
      border-radius: 12px;
      gap: 10px;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.4s;

      @include sm {
        padding: 10px 5px;
      }

      &:hover {
        background: rgba(128, 128, 128, 0.473);
      }

      &:last-child {
        background: #1a8cd8;
        padding: 10px 10px;

        @include sm {
          padding: 10px 5px;
        }
      }
    }

    a {
      color: white;
    }

    i {
      @include md() {
        font-size: 23px;
      }
    }
    span {
      white-space: nowrap;
      @include md() {
        display: none;
      }
    }
  }

  .user-info {
    display: flex;
    gap: 10px;
    padding: 0px 10px 5px;

    @include md() {
      flex-direction: column;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;

      @include md {
        width: 50px;
        height: 50px;
      }
    }

    button {
      background-color: white;
      color: black;
      display: flex;
      gap: 5px;
      white-space: nowrap;
      border-radius: 6px;
      font-size: 16px;
      margin-top: 5px;
      @include md {
        font-size: 18px;
        padding: 6px 16px;
      }
    }

    span,
    p {
      white-space: nowrap;
      @include md {
        display: none;
      }
    }
  }
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  border: 1px solid rgb(66, 66, 66);
  &::-webkit-scrollbar {
    background: black;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  header {
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 1px solid rgb(66, 66, 66);
    cursor: pointer;
  }
  #post-tweet {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(66, 66, 66);
    padding: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .input-area {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        width: 100%;
        background-color: black;
        border: none;
        outline: none;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        &:focus {
          box-shadow: 0 0 10px gray;
        }
      }
      .buttons {
        display: flex;
        justify-content: end;
        button {
          border-radius: 60px;
          background-color: #1a8cd8;
          color: white;
          &:hover {
            background-color: #115c8e;
          }
        }
      }
    }
  }
}

.tweet {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(58, 58, 58);

  &:hover {
    background: rgb(41, 41, 41);
  }
  #user-img {
    height: 50px;
    border-radius: 50%;
    @include sm {
      display: none;
    }
  }

  #mobile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none;
    @include sm {
      display: block;
    }
  }

  .body {
    width: 100%;
    margin-top: 10px;
    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
      }
      b,
      p + p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      p {
        cursor: pointer;
        color: gray;
        margin-bottom: 0;
        @include sm {
          font-size: 14px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    text-decoration: none !important;
    color: white;
    img {
      max-height: 300px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    video {
      width: 100%;
      border-radius: 10px;
      max-height: 500px;
    }

    .text-content {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 20;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      background: none;
      color: rgb(185, 185, 185);
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 5px;

      @include sm {
        font-size: 14px;
      }
      &:hover {
        background: rgb(59, 59, 59);
      }
    }
  }
}

.news {
  @include laptop() {
    display: none;
  }
}
